body{
	color: #835C3B;
	background-color: #FBF6D9;
}
.center {
	width: 960px; 
	margin-left: 100px;
	margin: 0 auto;
	

}
section{
	width: 1200px; 
	/*padding: 100px;*/
	/*margin-left: 80px;*/
	/*margin: 0 auto;*/
	float: left;
}
header{
	background-color: #835C3B;
	/*clear:both;*/
	overflow: hidden;
	/*margin: 40px;*/
}
header img{
	float: left;
	overflow: hidden;
	padding-top: 30px;
}
nav a {
	float: right;
	display: block;
	height: 30px;
	color: #FBF6D9;
	padding: 5px 0 5px 15px;
	font-size: 17px;
	text-decoration: none;
	overflow: hidden;
	
}
nav a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}
section a {
	background: url("../images/ronSwanson.jpg") no-repeat;
	display: block;
	width: 250px;
	height: 250px;
	float: left; 

	text-indent: -9999px;
	/*clear: both;*/
	overflow: hidden;
	margin-right: 20px;
	margin-left: 190px;
	margin-top: 20px;
	/*padding-bottom: 25px;*/
	/*position: relative;*/
}
section #morePics{
	/*display: inline-block;*/
	float: left;
	clear: both;
	padding-top: 10px;
	margin-right: 20px;
	margin-left: 190px;
	
}
section h1{
	font-size: 20px;
	/*margin: 20px 50px 20px 50px;*/
	padding: 20px 0 0 0;
	font-family: "Sanchez";
	/*margin-right: 20px;*/
	/*float: left;
	/*clear: both;
	*//*padding: 20px 50px 20px 0px;*/
}
section p{
	font-size: 16px;
	font-family: "Cabin";
	/*text-indent: 20px;*/
	padding: 10px 0;
	/*margin-right: 20px;*/
	/*margin-left: 20px;*/
/*	float: left;
	clear: both;*/
}
#stats {
	float: left;
	clear: both;
	width: 275px;
	margin-left: 190px;
	font-family: "Cabin";
	list-style-type: none;
	padding-top: 5px;
}
ul li{
	font-family: "Cabin";
}
#logo{
	font-size: 80px;
	font-family: "Sanchez";
	color: white;
	float: right;
	overflow: hidden;
	padding-top: 80px;
}